<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4 class="text-center">MEAN Stack</h4>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md">
                <p>
                    The source code of this application is available on
                </p>
                <br />
                <a class="" href="https://github.com/athiththan11/csrf-double-submit-cookies-pattern-php" target="_blank">
                    <svg width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <use xlink:href="node/feather-icons/dist/feather-sprite.svg#github" />
                    </svg>
                    Github Repo
                </a>
                <br />
                <br />
                <p class="text-justify">
                    Clone or download the repo using git and replace the database connection string with your database
                    connection string to access and play with the application.
                </p>
            </div>
            <div class="col-md">

            </div>
        </div>
    </div>
</div>